from flask import Flask
import threading

app = Flask('')

@app.route('/')
def home():
    return "I am alive"

def run():
    app.run(host='0.0.0.0', port=8080)

# Bot polling se pehle isko start karein
t = threading.Thread(target=run)
t.start()

pyTelegramBotAPI
openai
duckduckgo-search
flask
